/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --purple-500: hsl(259, 100%, 65%);
  --red-400: hsl(0, 100%, 67%);

  /* # NEUTRAL # */
  --white: hsl(0, 100%, 100%);
  --grey-100: hsl(0, 0%, 94%);
  --grey-200: hsl(0, 0%, 86%);
  --grey-500: hsl(0, 1%, 44%);
  --black: hsl(0, 0%, 0%);

  /* # TYPOGRAPHY # */
  --ff-poppins: "Poppins", sans-serif;
  --fw-400i: 400;
  --fw-700: 700;
  --fw-800i: 800;
}

/* # HIDE ARROWS FROM INPUT NUMBER # */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
